{% extends 'menu.html' %}
{% load static%}
{%block content%}
<br><br>
<center>
    <h1>무료배송 제품</h1>
    <a href="https://www.coupang.com/vp/products/1478173992?vendorItemId=70733097646&sourceType=HOME_TRENDING_ADS&searchId=feed-1594096428455-trending_ads-69184&isAddedCart=">
    <img width="300" src="{% static 'images/민트로즈 플라워 롱원피스.jpg' %}" alt="민트로즈 플라워 롱원피스 image">
    </a>
    <a href="https://www.coupang.com/vp/products/207475759?itemId=614229765&vendorItemId=4611714287&sourceType=CATEGORY&categoryId=186664&isAddedCart=">
        <img width="300" src="{% static 'images/면 배기팬츠.jpg' %}" alt="면 배기팬츠 image">
        </a>
</center>




{%endblock%}